In [21]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [22]:
Virus = pd.read_csv('CoronaVirus.csv')

In [23]:
Virus = Virus.rename(columns={'2019–20 coronavirus outbreak by country and territory Country or territory [a]': 'Country', 'Recoveries [b]': 'Recoveries'})

In [24]:
Virus.head(1000)

,Country,Confirmed,Deaths,Recoveries
0,China (mainland) [32] [c],"80,270","2,981","49,856"
1,South Korea [32] [33],"5,328",33,41
2,Italy [32],"2,502",79,160
3,Iran [32],"2,336",77,291
4,International conveyance [32] [d],706,6,100
5,Japan [32],293,6,43
6,France [32],204,4,12
7,Germany [32],196,0,16
8,Spain [32],165,1,2
9,United States [32],122,9,9
10,Singapore [32],110,0,78
11,Hong Kong [32],100,2,37
12,Kuwait [32],56,0,–
13,Switzerland [32],56,0,1
14,United Kingdom [32],51,0,8
15,Bahrain [32],49,0,–
16,Thailand [32],43,1,31
17,Taiwan [32],42,1,12
18,Australia [32],39,1,21
19,Malaysia [32],36,0,22
20,Iraq [32],32,0,–
21,Norway [32],32,0,–
22,Canada [32],30,0,8
23,Sweden [32],30,0,1
24,United Arab Emirates [32],27,0,5
25,Netherlands [32],24,0,–
26,Austria [32],21,0,–
27,Vietnam [32],16,0,16
28,Iceland [34],14,0,-
29,Lebanon [32],13,0,–
...,...,...,...,...
54,Egypt [32],2,0,1
55,Estonia [32],2,0,–
56,Indonesia [32],2,0,–
57,Ireland [32],2,0,–
58,New Zealand [37],2,0,–
59,Afghanistan [32],1,0,–
60,Andorra [32],1,0,–
61,Argentina [32],1,0,–
62,Armenia [32],1,0,–
63,Chile [32],1,0,–
64,Dominican Republic [32],1,0,–
65,Jordan [32],1,0,–
66,Latvia [32],1,0,–
67,Liechtenstein [32],1,0,–
68,Lithuania [32],1,0,–
69,Luxembourg [32],1,0,–
70,Monaco [32],1,0,–
71,Morocco [32],1,0,–
72,Nigeria [32],1,0,–
73,North Macedonia [32],1,0,–
74,Saudi Arabia [32],1,0,–
75,Senegal [32],1,0,–
76,Tunisia [38],1,0,–
77,Ukraine [32],1,0,–
78,Cambodia [32],1,0,1
79,Nepal [32],1,0,1
80,Sri Lanka [32],1,0,1
81,80 territories,"93,131","3,203","50,817"
82,"As of 4 March 2020 · History: China , others v...",NaN,NaN,NaN
83,Notes ^ Region where case was diagnosed. Natio...,NaN,NaN,NaN

In [36]:

Virus['Country'] = Virus['Country'].str.replace(" [33]", "")
#Virus['Country'].str.strip('a')
Virus['Country'] =  Virus['Country'].apply(lambda x: x.replace('[','').replace(']',''))

In [37]:
Virus['Country']

0                                 China (mainland) 32 c
1                                     South Korea 32 33
2                                              Italy 32
3                                               Iran 32
4                         International conveyance 32 d
5                                              Japan 32
6                                             France 32
7                                            Germany 32
8                                              Spain 32
9                                      United States 32
10                                         Singapore 32
11                                         Hong Kong 32
12                                            Kuwait 32
13                                       Switzerland 32
14                                    United Kingdom 32
15                                           Bahrain 32
16                                          Thailand 32
17                                            Taiwan 32
18                                         Australia 32
19                                          Malaysia 32
20                                              Iraq 32
21                                            Norway 32
22                                            Canada 32
23                                            Sweden 32
24                              United Arab Emirates 32
25                                       Netherlands 32
26                                           Austria 32
27                                           Vietnam 32
28                                           Iceland 34
29                                           Lebanon 32
                            ...
54                                             Egypt 32
55                                           Estonia 32
56                                         Indonesia 32
57                                           Ireland 32
58                                       New Zealand 37
59                                       Afghanistan 32
60                                           Andorra 32
61                                         Argentina 32
62                                           Armenia 32
63                                             Chile 32
64                                Dominican Republic 32
65                                            Jordan 32
66                                            Latvia 32
67                                     Liechtenstein 32
68                                         Lithuania 32
69                                        Luxembourg 32
70                                            Monaco 32
71                                           Morocco 32
72                                           Nigeria 32
73                                   North Macedonia 32
74                                      Saudi Arabia 32
75                                           Senegal 32
76                                           Tunisia 38
77                                           Ukraine 32
78                                          Cambodia 32
79                                             Nepal 32
80                                         Sri Lanka 32
81                                       80 territories
82     As of 4 March020 · History: China , others v t e
83    Notes ^ Region where case was diagnosed. Natio...
Name: Country, Length: 84, dtype: object

In [41]:
Virus['Recoveries'] = Virus['Recoveries'].str.replace("–", "0")
Virus['Recoveries']

0     49,856
1         41
2        160
3        291
4        100
5         43
6         12
7         16
8          2
9          9
10        78
11        37
12         0
13         1
14         8
15         0
16        31
17        12
18        21
19        22
20         0
21         0
22         8
23         1
24         5
25         0
26         0
27        16
28         -
29         0
       ...
54         1
55         0
56         0
57         0
58         0
59         0
60         0
61         0
62         0
63         0
64         0
65         0
66         0
67         0
68         0
69         0
70         0
71         0
72         0
73         0
74         0
75         0
76         0
77         0
78         1
79         1
80         1
81    50,817
82       NaN
83       NaN
Name: Recoveries, Length: 84, dtype: object

In [43]:
Virus

,Country,Confirmed,Deaths,Recoveries
0,China (mainlan),"80,270","2,981","49,856"
1,South Korea,"5,328",33,41
2,Italy,"2,502",79,160
3,Iran,"2,336",77,291
4,International onveyane,706,6,100
5,Japan,293,6,43
6,Frane,204,4,12
7,Germany,196,0,16
8,Spain,165,1,2
9,Unite States,122,9,9
10,Singapore,110,0,78
11,Hong Kong,100,2,37
12,Kuwait,56,0,0
13,Switzerlan,56,0,1
14,Unite Kingom,51,0,8
15,Bahrain,49,0,0
16,Thailan,43,1,31
17,Taiwan,42,1,12
18,Australia,39,1,21
19,Malaysia,36,0,22
20,Iraq,32,0,0
21,Norway,32,0,0
22,Canaa,30,0,8
23,Sween,30,0,1
24,Unite Arab Emirates,27,0,5
25,Netherlans,24,0,0
26,Austria,21,0,0
27,Vietnam,16,0,16
28,Ielan 34,14,0,-
29,Lebanon,13,0,0
...,...,...,...,...
54,Egypt,2,0,1
55,Estonia,2,0,0
56,Inonesia,2,0,0
57,Irelan,2,0,0
58,New Zealan 37,2,0,0
59,Afghanistan,1,0,0
60,Anorra,1,0,0
61,Argentina,1,0,0
62,Armenia,1,0,0
63,Chile,1,0,0
64,Dominian Republi,1,0,0
65,Joran,1,0,0
66,Latvia,1,0,0
67,Liehtenstein,1,0,0
68,Lithuania,1,0,0
69,Luxembourg,1,0,0
70,Monao,1,0,0
71,Moroo,1,0,0
72,Nigeria,1,0,0
73,North Maeonia,1,0,0
74,Saui Arabia,1,0,0
75,Senegal,1,0,0
76,Tunisia 38,1,0,0
77,Ukraine,1,0,0
78,Camboia,1,0,1
79,Nepal,1,0,1
80,Sri Lanka,1,0,1
81,80 territories,"93,131","3,203","50,817"
82,"As of 4 Marh 2020 · History: China , others v t e",NaN,NaN,NaN
83,Notes ^ Region where ase was iagnose. National...,NaN,NaN,NaN